:root {
    --button-background: #2e86ab;
    --fiery-rose: #f45b69;
    --background: #331e38;
    --list-color: #f7f0f5;
    --text-color: #f18f01;
}

body {
    background-color: var(--background);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    margin: 0 auto;
    width: 80vw;
    height: 5vh;
    line-height: 5vh;
}

#myInput {
    color: var(--text-color);
    border-radius: 15px;
    border: 1px solid var(--fiery-rose);
    float: right;
    text-align: left;
    font-size: 1.3rem;
    margin-top: 10px;
    display: block;
    height: 3vh;
    text-transform: capitalize;
}

h1 {
    color: var(--text-color);
    margin: 0 auto;
    width: 80vw;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 4rem;
    padding-bottom: 5vh;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    background-color: var(--list-color);
    max-width: 80%;
    min-width: 400px;
    margin: 0 auto;
    list-style-type: none;
    justify-items: center;
    border-radius: 15px;
    border: 5px solid var(--fiery-rose);
    padding: 10vh 0;
}

.list-item {
    width: 300px;
    text-align: center;
    border: 5px solid var(--fiery-rose);
    border-radius: 15px;
}

.button-template {
    background-color: var(--button-background);
    border-radius: 15px;
    width: 300px;
    height: 10vh;
    color: var(--text-color);
    font-size: 2em;
    text-transform: capitalize;
}

.button-template:hover, .button-template:focus {
    background-color: var(--fiery-rose);
    color: var(--list-color);
    border: 1px solid var(--button-background);
    cursor: pointer;
}

.button-image {
    height: 100px;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* to show it above other content */
    z-index: 999;
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.text-transform {
    text-transform: capitalize;
}

.modal {
    margin: 10vh auto;
    box-sizing: border-box;
    background: var(--list-color);
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    border-radius: 15px;
    max-height: 100vh;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 1px solid var(--fiery-rose);
    background-color: var(--button-background);
    border-radius: 15px;
    color: var(--text-color);
}

.modal h1 {
    margin: 3vh auto 2vh auto;
    width: 100%;
    clear: right;
}

.modal p {
    margin-top: 6vh;
    font-size: 1.8rem;
    color: var(--text-color);
    text-align: justify;
}

.modal-img {
    width: 50%;
}